* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.body-text {
    margin: 16px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #555;
  color: white;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #333;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #555;
}
.topnav .icon {
    display: none;
}

.welcome-head{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.welcome-head h1{
  margin: 16px 0 8px;
}
.welcome-head p{
  margin: 8px 8px 8px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.product {
    background-color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    max-width: 300px;
}

.product img {
    max-width: 100%;
}

.product button:hover {
    background-color: #555;
}
.shop-header{
    display: flex;
    justify-content: center;
    margin: 16px 0;
    /*border-bottom: 1px solid black;*/
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Use 1fr to fill available width */
  gap: 16px; /* Adjust the gap between items as needed */
  padding: 16px;
}

.grid-item {
  flex: 1; /* Flex property to fill available width */
  background-color: #fff; /* Set the background color as needed */
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5); /* Adjust shadow values as needed */
  margin: 8px; /* Adjust margin as needed */
  display: flex; /* Enable flexbox */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
}
.item-container {
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  max-width: 300px; /* Adjust the width as needed */
}

.item-image {
  max-width: 150px;
  max-height: 150px;
  
  display: flex;
  float: left;
  flex: 1;
  margin:10px;
}
.text-container{
  display: flex;
  align-items: start;
  width: 70%; /* Adjust as needed */
  margin: auto; 
  flex: 1;
  padding: 20px;
  flex-direction: column;
  justify-content: start;
}

.item-details {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.item-name {
  font-weight: bold;
  margin-bottom: 5px;
  
}

.item-quantity {
  color: #888;
  margin-bottom: 5px;
}

.item-description {
  margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}